﻿@model CrimeManager.Models.TbThongTinTuNhan

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thêm mới thông tin tù nhân</h4>
            <form class="form-sample" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="HoTen" class="col-sm-3 col-form-label">Họ tên phạm nhân</label>
                    <div class="col-sm-9">
                        <input asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NgaySinh" class="col-sm-3 col-form-label">Ngày sinh</label>
                    <div class="col-sm-9">
                        <input asp-for="NgaySinh" class="form-control" />
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="QueQuan" class="col-sm-3 col-form-label">Quê quán</label>
                    <div class="col-sm-9">
                        <input asp-for="QueQuan" class="form-control" />
                        <span asp-validation-for="QueQuan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Cccd" class="col-sm-3 col-form-label">CCCD</label>
                    <div class="col-sm-9">
                        <input asp-for="Cccd" class="form-control" />
                        <span asp-validation-for="Cccd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" value="Lưu" class="btn btn-gradient-success btn-fw" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
