﻿@model CrimeManager.Models.TbThongTinTuNhan

@{
    ViewData["Title"] = "Details";
    List<TbBanAn> lstBanAn =(List<TbBanAn>) ViewBag.lstBanAn;
    List<TbLoaiBanAn> Loai = (List<TbLoaiBanAn>)ViewBag.Loai;
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin tù nhân</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="HoTen" class="col-sm-3 col-form-label">Họ tên phạm nhân</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NgaySinh" class="col-sm-3 col-form-label">Ngày sinh</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="NgaySinh" class="form-control" />
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="QueQuan" class="col-sm-3 col-form-label">Quê quán</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="QueQuan" class="form-control" />
                        <span asp-validation-for="QueQuan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Cccd" class="col-sm-3 col-form-label">CCCD</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="Cccd" class="form-control" />
                        <span asp-validation-for="Cccd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdThongTin">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Lịch sử phạm tội</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Số năm
                            </th>
                            <th>
                                Ngày bắt đầu
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Loại bản án
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstBanAn)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoiDung)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoNam)
                                </td>
                                <td>
                                    @(item.NgayBd != null ? item.NgayBd.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                @{
                                    if (item.TrangThai == true)
                                    {
                                        <td style="color:#90D26D">
                                            Đang hiện hành
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:#DD5746">Hết hiệu lực</td>
                                    }
                                }
                                <td>
                                    @(item.Loai != null && item.Loai != 0 ? Loai.Where(x => x.IdLoai == item.Loai)
                                        .FirstOrDefault().Ten : "")
                                </td>
                                <td>
                                    <a class="btn btn-gradient-info btn-sm" href="\BanAn\Details?id=@item.IdBanAn" >
                                        Chi tiết
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>