﻿@model IEnumerable<CrimeManager.Models.TbThongTinTuNhan>

@{
    ViewData["Title"] = "Index";
}
<div class="page-header">
    <h2 class="page-title">Danh sách thông tin tù nhân</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Ngày sinh
                            </th>
                            <th>
                                Quê quán
                            </th>
                            <th>
                                CCCD
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.HoTen!=null?item.HoTen:"")
                                </td>
                                <td>
                                    @(item.NgaySinh != null ? item.NgaySinh.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @(item.QueQuan != null ? item.QueQuan : "")
                                </td>
                                <td>
                                    @(item.Cccd != null ? item.Cccd : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdThongTin">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdThongTin">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdThongTin">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
