﻿@model CrimeManager.Models.TbNhomChucNang

@{
    ViewData["Title"] = "Details";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="IdNhom" class="col-sm-3 control-label">Nhóm người dùng</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdNhom" class="form-control form-control-lg" asp-items="ViewBag.IdNhom"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdChucNang" class="col-sm-3 control-label">Chức năng</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdChucNang" class="form-control form-control-lg" asp-items="ViewBag.IdChucNang"></select>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>
