﻿@model IEnumerable<CrimeManager.Models.TbNhomChucNang>

@{
    ViewData["Title"] = "Index";
    List<TbNhomNguoiDung> Nhom = (List<TbNhomNguoiDung>)ViewBag.Nhom;
    List<TbChucNang> ChucNang = (List<TbChucNang>)ViewBag.ChucNang;
}
<div class="page-header">
    <h2 class="page-title">Danh sách chức năng ứng với nhóm người dùng</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nhóm người dùng
                            </th>
                            <th>
                                Chức năng
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.IdNhom != null & item.IdNhom != 0 ? Nhom.Where(x => x.IdNhom == item.IdNhom).FirstOrDefault().TenNhom : "")
                                </td>
                                <td>
                                    @(item.IdChucNang != null & item.IdChucNang != 0 ? ChucNang.Where(x => x.IdChucNang == item.IdChucNang).FirstOrDefault().TenChucNang : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
