﻿@model CrimeManager.Models.TbDiaDiemThamNuoi

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thêm mới</h4>
            <form class="form-sample" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group row">
                    <label asp-for="DiaDiem" class="col-sm-3 col-form-label">Địa điểm</label>
                    <div class="col-sm-9">
                        <input asp-for="DiaDiem" class="form-control" />
                        <span asp-validation-for="DiaDiem" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoCho" class="col-sm-3 col-form-label">Sức chứa</label>
                    <div class="col-sm-9">
                        <input asp-for="SoCho" class="form-control" />
                        <span asp-validation-for="SoCho" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" value="Lưu" class="btn btn-gradient-success btn-fw" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
