﻿@model CrimeManager.Models.TbDiaDiemThamNuoi

@{
    ViewData["Title"] = "Details";
    List<TbThamNuoi> lstThamNuoi = (List<TbThamNuoi>)ViewBag.lstThamNuoi;
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="DiaDiem" class="col-sm-3 col-form-label">Địa điểm</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="DiaDiem" class="form-control" />
                        <span asp-validation-for="DiaDiem" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoCho" class="col-sm-3 col-form-label">Sức chứa</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="SoCho" class="form-control" />
                        <span asp-validation-for="SoCho" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdDiaDiem">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên người thăm nuôi
                            </th>
                            <th>
                                CCCD
                            </th>
                           
                            <th>
                                Bắt đầu
                            </th>
                            <th>
                                Kết thúc
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstThamNuoi)
                        {
                            <tr>
                                <td>
                                    @(item.TenNguoiThamNuoi != null ? item.TenNguoiThamNuoi : "")
                                </td>
                                <td>
                                    @(item.CccdnguoiTham != null ? item.CccdnguoiTham : "")
                                </td>
                              
                                <td>
                                    @(item.ThoiGianBd != null ? item.ThoiGianBd.Value.ToString("hh\\:mm dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @(item.ThoiGianKt != null ? item.ThoiGianKt.Value.ToString("hh\\:mm dd/MM/yyyy") : "")
                                </td>
                                <td>


                                    <a class="btn btn-gradient-info btn-sm" href="\ThamNuoi\Details?id=@item.IdThamNuoi" >
                                        Chi tiết
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>