﻿@model CrimeManager.Models.TbLoaiBanAn

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="Ten" class="col-sm-3 col-form-label">Loại bản án</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="Ten" class="form-control" />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdLoai">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>
