﻿@model CrimeManager.Models.TbCanBoNhom

@{
    ViewData["Title"] = "Create";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gắn cán bộ với nhóm người dùng</h4>
            <form class="form-sample" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="IdCanBo" class="col-sm-3 control-label">Cán bộ</label>
                    <div class="col-sm-9">
                        <select asp-for="IdCanBo" class="form-control form-control-lg" asp-items="ViewBag.IdCanBo"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdNhom" class="col-sm-3 col-form-label">Nhóm người dùng</label>
                    <div class="col-sm-9">
                        <select asp-for="IdNhom" class="form-control form-control-lg" asp-items="ViewBag.IdNhom"></select>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" value="Lưu" class="btn btn-gradient-success btn-fw" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
