﻿@model CrimeManager.Models.TbCanBoNhom

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin cần xóa</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="IdCanBo" class="col-sm-3 control-label">Cán bộ</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdCanBo" class="form-control form-control-lg" asp-items="ViewBag.IdCanBo"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdNhom" class="col-sm-3 col-form-label">Nhóm người dùng</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdNhom" class="form-control form-control-lg" asp-items="ViewBag.IdNhom"></select>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>

