﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crime Manager</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
    <!-- Khối style thêm vào -->
    @RenderSection("stylesfirst", required: false)
    @RenderSection("styles", required: false)
</head>
<body>
    <script src="~/assets/static/js/initTheme.js"></script>
    <div id="app">
        @if (ViewBag.IsLoginPage == null || ViewBag.IsLoginPage == false)
        {
            <div class="container-scroller">
                @Html.Partial("partials/header.cshtml")
                <div class="container-fluid page-body-wrapper">
                    <div id="sidebarContainer">
                        <!-- Nội dung sidebar sẽ được thêm vào đây -->
                    </div>
                    <div class="main-panel">
                        <div style="margin-top:4%"></div>
                        <div class="content-wrapper">
                            @RenderSection("Title", required:false)
                            @RenderSection("ControlWork", required:false)
                            @RenderBody()
                        </div>
                        @Html.Partial("partials/footer.cshtml")
                    </div>
                </div>
            </div>
            
        }
        @RenderBody()
    </div>
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/js/dashboard.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <!-- Khối JS -->
    @RenderSection("js", required: false)
    @RenderSection("scripts", required: false)
</body>

</html>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Partial/Sidebar",
            type: "GET",
            success: function (data) {
                $("#sidebarContainer").html(data);
                // Gọi lại các script cần thiết sau khi sidebar được thêm vào
                //reloadScripts();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
























