﻿<head>

	<link rel="stylesheet" href="~/login/login.css" asp-append-version="true" crossorigin="anonymous" />
	<script src="~/login/login.js"></script>
</head>

<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="/Login/Success" method="post">
						<h3>Đăng nhập</h3>
						<input type="text" name="username" placeholder="Người dùng">
						<input type="text" name="password" placeholder="Mật khẩu">
						<button class="submit" type="submit">Xác nhận</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<div style="margin-bottom:3%">
						<img style="width:50%" src="~/login/Logo_hoc_vien_ANND.png">
					</div>

					<h2 style="color:white;font-weight:bold">Quản lý trại giam</h2>
				</div>
			</div>
		</div>
	</section>
</body>
</html>