﻿@model CrimeManager.Models.TbChucNang

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin chức năng</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="TenChucNang" class="col-sm-3 col-form-label">Tên chức năng</label>
                    <div class="col-sm-9">
                        <input asp-for="TenChucNang" class="form-control" disabled/>
                        <span asp-validation-for="TenChucNang" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                     <label asp-for="IdChucNangCha" class="col-sm-3 control-label">Chức năng cha</label>
                     <div class="col-sm-9">
                         <select disabled asp-for="IdChucNangCha"  class="form-control form-control-lg" asp-items="ViewBag.IdChucNangCha"></select>
                     </div>
                </div>
                <div class="form-group row">
                    <label asp-for="DuongDan" class="col-sm-3 col-form-label">Đường dẫn</label>
                    <div class="col-sm-9">
                        <input asp-for="DuongDan" class="form-control" disabled/>
                        <span asp-validation-for="DuongDan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Icon" class="col-sm-3 col-form-label">Biểu tượng</label>
                    <div class="col-sm-9">
                        <input asp-for="Icon" class="form-control" disabled/>
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdChucNang">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
            
        </div>
    </div>
</div>
