﻿@model IEnumerable<CrimeManager.Models.TbChucNang>

@{
    ViewData["Title"] = "Index";
    List<TbChucNang> ChucNangCha= (List<TbChucNang>) ViewBag.ChucNangCha;
}

<div class="page-header">
    <h2 class="page-title">Danh sách chhức năng</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên chức năng
                            </th>
                            <th>
                                Chức năng cha
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenChucNang)
                                </td>
                                <td>
                                    @(ChucNangCha.Where(x=>x.IdChucNang==item.IdChucNangCha).FirstOrDefault()!=null?
                                    ChucNangCha.Where(x=>x.IdChucNang==item.IdChucNangCha).FirstOrDefault().TenChucNang:"")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdChucNang">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdChucNang">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdChucNang">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
