﻿@model CrimeManager.Models.TbNhomNguoiDung

@{
    ViewData["Title"] = "Details";
    List<TbChucNang> lstChucNang = (List<TbChucNang>)ViewBag.lstChucNang;
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin nhóm người dùng</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label for="TenNhom" class="col-sm-3 col-form-label">Tên nhóm</label>
                    <div class="col-sm-9">
                        <input asp-for="TenNhom" class="form-control" disabled />
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdNhom">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gồm các chức năng</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên chức năng
                            </th>
                            
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstChucNang)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenChucNang)
                                </td>
                               
                                <td>


                                    <a class="btn btn-gradient-info btn-sm" href="\TbChucNangs\Details?id=@item.IdChucNang">
                                        Chi tiết
                                    </a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>