﻿@model CrimeManager.Models.TbNhomNguoiDung

@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin nhóm người dùng</h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.IdNhom">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdNhom" />
                <div class="form-group row">
                    <label asp-for="TenNhom" class="col-sm-3 col-form-label">Tên nhóm</label>
                    <div class="col-sm-9">
                        <input asp-for="TenNhom" class="form-control" />
                        <span asp-validation-for="TenNhom" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" value="Lưu" class="btn btn-gradient-success btn-fw" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
