﻿@model CrimeManager.Models.TbThamNuoi

@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin </h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.IdThamNuoi">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdThamNuoi" />
                <div class="form-group row">
                    <label asp-for="IdToiPham" class="col-sm-3 control-label">Tù nhân</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdToiPham" class="form-control form-control-lg" asp-items="ViewBag.IdToiPham"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="TenNguoiThamNuoi" class="col-sm-3 col-form-label">Tên người thăm nuôi</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="TenNguoiThamNuoi" class="form-control" />
                        <span asp-validation-for="TenNguoiThamNuoi" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CccdnguoiTham" class="col-sm-3 col-form-label">Căn cước công dân người thăm</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="CccdnguoiTham" class="form-control" />
                        <span asp-validation-for="CccdnguoiTham" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdDiaDiem" class="col-sm-3 control-label">Địa điểm thăm nuôi</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdDiaDiem" class="form-control form-control-lg" asp-items="ViewBag.IdDiaDiem"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ThoiGianBd" class="col-sm-3 col-form-label">Thời gian bắt đầu</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="ThoiGianBd" class="form-control" />
                        <span asp-validation-for="ThoiGianBd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ThoiGianKt" class="col-sm-3 col-form-label">Thời gian kết thúc</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="ThoiGianKt" class="form-control" />
                        <span asp-validation-for="ThoiGianKt" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" hidden value="Lưu" class="btn btn-gradient-success btn-fw" />
                </div>
            </form>
            <form class="form-sample" asp-action="Delete" asp-route-id="@Model.IdThamNuoi">
                <input type="hidden" asp-for="IdThamNuoi" />
                <div class="form-group float-end">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
