﻿@model IEnumerable<CrimeManager.Models.TbThamNuoi>

@{
    ViewData["Title"] = "Index";
    List<TbDiaDiemThamNuoi> DiaDiem = (List<TbDiaDiemThamNuoi>)ViewBag.DiaDiem;
    List<TbTuNhan> ToiPham = (List<TbTuNhan>)ViewBag.ToiPham;
}

<div class="page-header">
    <h2 class="page-title">Danh sách lịch thăm nuôi</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tù nhân
                            </th>
                            <th>
                                Tên người thăm nuôi
                            </th>
                            <th>
                                CCCD
                            </th>
                            <th>
                                Địa điểm
                            </th>
                            <th>
                                Bắt đầu
                            </th>
                            <th>
                                Kết thúc
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.IdToiPham != null & item.IdToiPham != 0 ? ToiPham.Where(x => x.IdTuNhan == item.IdToiPham).FirstOrDefault().MaTuNhan : "")
                                </td>
                                <td>
                                    @(item.TenNguoiThamNuoi != null? item.TenNguoiThamNuoi : "")
                                </td>
                                <td>
                                    @(item.CccdnguoiTham != null ? item.CccdnguoiTham : "")
                                </td>
                                <td>
                                    @(item.IdDiaDiem != null & item.IdDiaDiem != 0 ? DiaDiem.Where(x => x.IdDiaDiem == item.IdDiaDiem).FirstOrDefault().DiaDiem : "")
                                </td>
                                <td>
                                    @(item.ThoiGianBd != null ? item.ThoiGianBd.Value.ToString("hh\\:mm dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @(item.ThoiGianKt != null ? item.ThoiGianKt.Value.ToString("hh\\:mm dd/MM/yyyy") : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdThamNuoi">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdThamNuoi">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdThamNuoi">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
