﻿@model CrimeManager.Models.TbTuNhan

@{
    ViewData["Title"] = "Delete";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin tù nhân</h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.IdTuNhan">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdTuNhan" />
                <div class="form-group row">
                    <label asp-for="IdThongTin" class="col-sm-3 control-label">Tù nhân</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdThongTin" class="form-control form-control-lg" asp-items="ViewBag.IdThongTin"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MaTuNhan" class="col-sm-3 col-form-label">Số hiệu tù nhân</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="MaTuNhan" class="form-control" />
                        <span asp-validation-for="MaTuNhan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdPhongGiam" class="col-sm-3 control-label">Phòng giam</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdPhongGiam" class="form-control form-control-lg" asp-items="ViewBag.IdPhongGiam"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NgayRaTu" class="col-sm-3 col-form-label">Ngày ra tù</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="NgayRaTu" class="form-control" />
                        <span asp-validation-for="NgayRaTu" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" hidden value="Lưu" class="btn btn-gradient-success btn-fw" />
                </div>
            </form>
            <form class="form-sample" asp-action="Delete" asp-route-id="@Model.IdTuNhan">
                <input type="hidden" asp-for="IdTuNhan" />
                <div class="form-group float-end">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>