﻿@model CrimeManager.Models.TbTuNhan

@{
    ViewData["Title"] = "Details";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin tù nhân</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="IdThongTin" class="col-sm-3 control-label">Tù nhân</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdThongTin" class="form-control form-control-lg" asp-items="ViewBag.IdThongTin"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MaTuNhan" class="col-sm-3 col-form-label">Số hiệu tù nhân</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="MaTuNhan" class="form-control" />
                        <span asp-validation-for="MaTuNhan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdPhongGiam" class="col-sm-3 control-label">Phòng giam</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdPhongGiam" class="form-control form-control-lg" asp-items="ViewBag.IdPhongGiam"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NgayRaTu" class="col-sm-3 col-form-label">Ngày ra tù</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="NgayRaTu" class="form-control" />
                        <span asp-validation-for="NgayRaTu" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdTuNhan">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a class="hightlight-links" data-bs-toggle="tooltip" data-bs-palacement="top" title="Xem chi tiết" href="/ThongTinTuNhan/Details?id=@Model.IdThongTin">
                <h6 class="w-100 text-center fst-italic" style="font-weight:800!important">Thông tin chi tiết tù nhân</h6>
            </a>
        </div>
    </div>
</div>