﻿@model IEnumerable<CrimeManager.Models.TbTuNhan>

@{
    ViewData["Title"] = "Index";
    List<TbThongTinTuNhan> ThongTin = (List<TbThongTinTuNhan>)ViewBag.ThongTin;
    List<TbPhongGiam> PhongGiam = (List<TbPhongGiam>)ViewBag.PhongGiam;
}

<div class="page-header">
    <h2 class="page-title">Danh sách tù nhân</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Số hiệu phạm nhân
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                CCCD
                            </th>
                            <th>
                                Phòng giam
                            </th>
                            <th>
                                Ngày ra tù
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.MaTuNhan != null ? item.MaTuNhan : "")
                                </td>
                                <td>
                                    @(item.IdThongTin != null &&item.IdThongTin!=0 ? ThongTin.Where(x=>x.IdThongTin==item.IdThongTin).FirstOrDefault().HoTen : "")
                                </td>
                                <td>
                                    @(item.IdThongTin != null && item.IdThongTin != 0 ? ThongTin.Where(x => x.IdThongTin == item.IdThongTin).FirstOrDefault().Cccd : "")
                                </td>
                                <td>
                                    @(item.IdPhongGiam != null && item.IdPhongGiam != 0 ? PhongGiam.Where(x => x.IdPhongGiam == item.IdPhongGiam).FirstOrDefault().TenPhong : "")
                                </td>
                                <td>
                                    @(item.NgayRaTu != null ? item.NgayRaTu.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdTuNhan">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdTuNhan">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdTuNhan">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


