﻿@model CrimeManager.Models.TbPhongGiam

@{
    ViewData["Title"] = "Delete";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin phòng giam</h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.IdPhongGiam">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdPhongGiam" />
                <div class="form-group row">
                    <label asp-for="TenPhong" class="col-sm-3 col-form-label">Tên phòng giam</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="TenPhong" class="form-control" />
                        <span asp-validation-for="TenPhong" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoCho" class="col-sm-3 col-form-label">Sức chứa</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="SoCho" class="form-control" />
                        <span asp-validation-for="SoCho" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="TrangThai" class="col-sm-3 col-form-label">Trạng thái</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="TrangThai" class="form-control" />
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" hidden value="Lưu" class="btn btn-gradient-success btn-fw" />
                </div>
            </form>
            <form class="form-sample" asp-action="Delete" asp-route-id="@Model.IdPhongGiam">
                <input type="hidden" asp-for="IdPhongGiam" />
                <div class="form-group float-end">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
