﻿@model CrimeManager.Models.TbPhongGiam

@{
    ViewData["Title"] = "Details";
    List<TbTuNhan>lstTuNhan = (List<TbTuNhan>)ViewBag.lstTuNhan;
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin phòng giam</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="TenPhong" class="col-sm-3 col-form-label">Tên phòng giam</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="TenPhong" class="form-control" />
                        <span asp-validation-for="TenPhong" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoCho" class="col-sm-3 col-form-label">Sức chứa</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="SoCho" class="form-control" />
                        <span asp-validation-for="SoCho" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="TrangThai" class="col-sm-3 col-form-label">Trạng thái</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="TrangThai" class="form-control" />
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdPhongGiam">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách tù nhân</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Mã phạm nhân
                            </th>
                           
                            <th>
                                Ngày ra tù
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstTuNhan)
                        {
                            <tr>
                                <td>
                                    @(item.MaTuNhan != null ? item.MaTuNhan : "")
                                </td>
                               
                                <td>
                                    @(item.NgayRaTu != null ? item.NgayRaTu.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>


                                    <a class="btn btn-gradient-info btn-sm" href="\TuNhan\Details?id=@item.IdTuNhan" >
                                        Chi tiết
                                    </a>
                                 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>