﻿@model IEnumerable<CrimeManager.Models.TbPhongGiam>

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h2 class="page-title">Danh sách phòng giam</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên phòng giam
                            </th>
                            <th>
                                Sức chứa
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenPhong)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoCho)
                                </td>
                                @{
                                    if (item.TrangThai==true)
                                    {
                                        <td style="color:#90D26D">
                                            Được sử dụng
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:#DD5746">Không được sử dụng</td>
                                    }
                                }
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdPhongGiam">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdPhongGiam">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdPhongGiam">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
