﻿@model CrimeManager.Models.TbCapBac

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin cấp bậc</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label for="TenCapBac" class="col-sm-3 col-form-label">Tên cấp bậc</label>
                    <div class="col-sm-9">
                        <input asp-for="TenCapBac" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdCapBac">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
            
        </div>
    </div>
</div>

