﻿@model CrimeManager.Models.TbCanBoDiaDiem

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="IdCanBo" class="col-sm-3 control-label">Cán bộ</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdCanBo" class="form-control form-control-lg" asp-items="ViewBag.IdCanBo"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdDiaDiem" class="col-sm-3 control-label">Địa điểm thăm nuôi</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdDiaDiem" class="form-control form-control-lg" asp-items="ViewBag.IdDiaDiem"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ThoiGianBd" class="col-sm-3 col-form-label">Thời gian bắt đầu</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="ThoiGianBd" class="form-control" />
                        <span asp-validation-for="ThoiGianBd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ThoiGianKt" class="col-sm-3 col-form-label">Thời gian kết thúc</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="ThoiGianKt" class="form-control" />
                        <span asp-validation-for="ThoiGianKt" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>