﻿@model CrimeManager.Models.TbCanBoDiaDiem

@{
    ViewData["Title"] = "Edit";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin</h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group row">
                    <label asp-for="IdCanBo" class="col-sm-3 control-label">Cán bộ</label>
                    <div class="col-sm-9">
                        <select asp-for="IdCanBo" class="form-control form-control-lg" asp-items="ViewBag.IdCanBo"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdDiaDiem" class="col-sm-3 control-label">Địa điểm thăm nuôi</label>
                    <div class="col-sm-9">
                        <select asp-for="IdDiaDiem" class="form-control form-control-lg" asp-items="ViewBag.IdDiaDiem"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ThoiGianBd" class="col-sm-3 col-form-label">Thời gian bắt đầu</label>
                    <div class="col-sm-9">
                        <input asp-for="ThoiGianBd" class="form-control" />
                        <span asp-validation-for="ThoiGianBd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ThoiGianKt" class="col-sm-3 col-form-label">Thời gian kết thúc</label>
                    <div class="col-sm-9">
                        <input asp-for="ThoiGianKt" class="form-control" />
                        <span asp-validation-for="ThoiGianKt" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" value="Lưu" class="btn btn-gradient-success btn-fw" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
