﻿<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Bản quyền © TriNguyenWap</span>
        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"><a href="https://gitlab.com/nguyentri908908" target="_blank">GitLab</a> from TriNguyenWap</span>
    </div>
</footer>