﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">David Grey. H</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home">
                <span class="menu-title">Trang chủ</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title"> Quản trị</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/User">Người dùng</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/NhomNguoiDung">Nhóm người dùng</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/CanBo">Cán bộ</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/TbChucNangs">Chức năng</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/NhomChucNang">Gán nhóm với chức năng</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/CanBoNhom">Gán cán bộ theo nhóm</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title"> Tù Nhân</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/TuNhan">Tù nhân</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/BanAn">Bản án</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/ThongTinTuNhan">Thông tin tù nhân</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/CanBoTuNhan">Phân công cán bộ quản lý</a></li>
                   
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Phòng giam</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-hospital-building menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/PhongGiam">Phòng giam</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/CanBoPhongGiam">Phân công cán bộ quản lý</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Địa điểm thăm nuôi</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-deskphone menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/DiaDiemThamNuoi">Địa điểm thăm nuôi</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/CanBoDiaDiem">Phân công cán bộ quản lý</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ThamNuoi">
                <span class="menu-title">Thông tin thăm nuôi</span>
                <i class="mdi mdi-content-save menu-icon"></i>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Quản lý thông tin chung</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-file-document menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic5">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/CapBac">Cấp bậc</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/LoaiBanAn">Loại bản án</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>