﻿@model CrimeManager.Models.TbBanAn

@{
    ViewData["Title"] = "Details";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin bản án</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="NoiDung" class="col-sm-3 col-form-label">Nội dung</label>
                    <div class="col-sm-9">
                        <input asp-for="NoiDung" class="form-control" disabled />
                        <span asp-validation-for="NoiDung" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdPhamNhan" class="col-sm-3 control-label">Phạm nhân</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdPhamNhan" class="form-control form-control-lg" asp-items="ViewBag.IdPhamNhan"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoNam" class="col-sm-3 col-form-label">Số năm</label>
                    <div class="col-sm-9">
                        <input asp-for="SoNam" class="form-control" disabled />
                        <span asp-validation-for="SoNam" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NgayBd" class="col-sm-3 col-form-label">Ngày bắt đầu</label>
                    <div class="col-sm-9">
                        <input asp-for="NgayBd" class="form-control" disabled />
                        <span asp-validation-for="NgayBd" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Loai" class="col-sm-3 control-label">Loại bản án</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="Loai" class="form-control form-control-lg" asp-items="ViewBag.Loai"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="TrangThai" class="col-sm-3 col-form-label">Trạng thái</label>
                    <div class="col-sm-9">
                        <input asp-for="TrangThai" class="form-control" disabled />
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdBanAn">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>

