﻿@model IEnumerable<CrimeManager.Models.TbBanAn>

@{
    ViewData["Title"] = "Index";
    List<TbThongTinTuNhan> TuNhan = (List<TbThongTinTuNhan>)ViewBag.TuNhan;
    List<TbLoaiBanAn> Loai = (List<TbLoaiBanAn>)ViewBag.Loai;
}

<div class="page-header">
    <h2 class="page-title">Danh sách bản án</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Số năm
                            </th>
                            <th>
                                Ngày bắt đầu
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                               Tù nhân
                            </th>
                            <th>
                                Loại bản án
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoiDung)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoNam)
                                </td>
                                <td>
                                    @(item.NgayBd!=null?item.NgayBd.Value.ToString("dd/MM/yyyy"):"")
                                </td>
                                @{
                                    if (item.TrangThai == true)
                                    {
                                        <td style="color:#90D26D">
                                            Đang hiện hành
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color:#DD5746">Hết hiệu lực</td>
                                    }
                                }
                                
                                <td>
                                    @(item.IdPhamNhan!=null&&item.IdPhamNhan!=0?TuNhan.Where(x=>x.IdThongTin==item.IdPhamNhan)
                                    .FirstOrDefault().HoTen:"")
                                </td>
                                <td>
                                    @(item.Loai != null && item.Loai != 0 ? Loai.Where(x => x.IdLoai == item.Loai)
                                        .FirstOrDefault().Ten : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdBanAn">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdBanAn">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdBanAn">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
