﻿@model IEnumerable<CrimeManager.Models.TbCanBoTuNhan>

@{
    ViewData["Title"] = "Index";
    List<TbCanBo> CanBo = (List<TbCanBo>)ViewBag.CanBo;
    List<TbTuNhan> TuNhan = (List<TbTuNhan>)ViewBag.TuNhan;
}
<div class="page-header">
    <h2 class="page-title">Danh sách cán bộ quản lý tù nhân</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Cán bộ
                            </th>
                            <th>
                                Tù nhân 
                            </th>
                            <th>
                                Thời gian bắt đầu
                            </th>
                            <th>
                                Thời gian kết thúc
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.IdCanBo != null & item.IdCanBo != 0 ? CanBo.Where(x => x.IdCanBo == item.IdCanBo).FirstOrDefault().TenCanBo : "")
                                </td>
                                <td>
                                    @(item.IdTuNhan != null & item.IdTuNhan != 0 ? TuNhan.Where(x => x.IdTuNhan == item.IdTuNhan).FirstOrDefault().MaTuNhan : "")
                                </td>
                                <td>
                                    @(item.ThoiGianBd != null ? item.ThoiGianBd.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @(item.ThoiGianKt != null ? item.ThoiGianKt.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
