﻿@model CrimeManager.Models.TbUser

@{
    ViewData["Title"] = "Delete";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin tài khoản</h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.IdUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdUser" />
                <div class="form-group row">
                    <label asp-for="IdCanBo" class="col-sm-3 control-label">Cán bộ</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="IdCanBo" class="form-control form-control-lg" asp-items="ViewBag.IdCanBo"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="UserName" class="col-sm-3 col-form-label">Tên đăng nhập</label>
                    <div class="col-sm-9">
                        <input disabled asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Password" class="col-sm-3 col-form-label">Mật khẩu</label>
                    <div class="col-sm-9">
                        <input type="password" disabled asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="form-group float-end">
                    <input type="submit" hidden value="Lưu" class="btn btn-gradient-success btn-fw" />
                </div>
            </form>
            <form class="form-sample" asp-action="Delete" asp-route-id="@Model.IdUser">
                <input type="hidden" asp-for="IdUser" />
                <div class="form-group float-end">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>