﻿@model IEnumerable<CrimeManager.Models.TbUser>

@{
    ViewData["Title"] = "Index";
    List<TbCanBo> CanBo = (List<TbCanBo>)ViewBag.CanBo;
}

<div class="page-header">
    <h2 class="page-title">Danh sách tài khoản</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên tài khoản
                            </th>
                            <th>
                                Cán bộ
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.UserName != null ?item.UserName:"")
                                </td>
                                <td>
                                    @(item.IdCanBo != null&&item.IdCanBo!=0 ? CanBo.Where(x=>x.IdCanBo==item.IdCanBo).FirstOrDefault().TenCanBo : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdUser">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdUser">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdUser">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
