﻿@model CrimeManager.Models.TbCanBo

@{
    ViewData["Title"] = "Details";
    List<TbNhomNguoiDung> lstNhom = (List<TbNhomNguoiDung>)ViewBag.lstNhom;
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin bản án</h4>
            <form class="form-sample">
                <div class="form-group row">
                    <label asp-for="TenCanBo" class="col-sm-3 col-form-label">Tên cán bộ</label>
                    <div class="col-sm-9">
                        <input asp-for="TenCanBo" class="form-control" disabled />
                        <span asp-validation-for="TenCanBo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoHieuCanBo" class="col-sm-3 col-form-label">Số hiệu cán bộ</label>
                    <div class="col-sm-9">
                        <input asp-for="SoHieuCanBo" class="form-control" disabled />
                        <span asp-validation-for="SoHieuCanBo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SinhNhat" class="col-sm-3 col-form-label">Sinh nhật</label>
                    <div class="col-sm-9">
                        <input asp-for="SinhNhat" class="form-control" disabled />
                        <span asp-validation-for="SinhNhat" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Sdt" class="col-sm-3 col-form-label">Số điện thoại</label>
                    <div class="col-sm-9">
                        <input asp-for="Sdt" class="form-control" disabled />
                        <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CapBac" class="col-sm-3 control-label">Cấp bậc</label>
                    <div class="col-sm-9">
                        <select disabled asp-for="CapBac" class="form-control form-control-lg" asp-items="ViewBag.CapBac"></select>
                    </div>
                </div>
                <div class="form-group float-end">
                    <a class="btn btn-gradient-primary" asp-action="Edit" asp-route-id="@Model.IdCanBo">
                        Sửa
                    </a>
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thuộc nhóm người dùng</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên nhóm
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstNhom)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenNhom)
                                </td>
                                <td>


                                    <a class="btn btn-gradient-info btn-sm" href="\NhomNguoiDung\Details?id=@item.IdNhom" >
                                        Chi tiết
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
