﻿@model CrimeManager.Models.TbCanBo

@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin bản án</h4>
            <form class="form-sample" asp-action="Edit" asp-route-id="@Model.IdCanBo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdCanBo" />
                <div class="form-group row">
                    <label asp-for="TenCanBo" class="col-sm-3 col-form-label">Tên cán bộ</label>
                    <div class="col-sm-9">
                        <input asp-for="TenCanBo" class="form-control" />
                        <span asp-validation-for="TenCanBo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SoHieuCanBo" class="col-sm-3 col-form-label">Số hiệu cán bộ</label>
                    <div class="col-sm-9">
                        <input asp-for="SoHieuCanBo" class="form-control" />
                        <span asp-validation-for="SoHieuCanBo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="SinhNhat" class="col-sm-3 col-form-label">Sinh nhật</label>
                    <div class="col-sm-9">
                        <input asp-for="SinhNhat" class="form-control" />
                        <span asp-validation-for="SinhNhat" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Sdt" class="col-sm-3 col-form-label">Số điện thoại</label>
                    <div class="col-sm-9">
                        <input asp-for="Sdt" class="form-control" />
                        <span asp-validation-for="Sdt" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CapBac" class="col-sm-3 control-label">Cấp bậc</label>
                    <div class="col-sm-9">
                        <select asp-for="CapBac" class="form-control form-control-lg" asp-items="ViewBag.CapBac"></select>
                    </div>
                </div>
                <div class="form-group float-end">
                    <input type="submit" value="Lưu" class="btn btn-gradient-success btn-fw" />
                    <a class="btn btn-gradient-info" asp-action="Index">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
