﻿@model IEnumerable<CrimeManager.Models.TbCanBo>

@{
    ViewData["Title"] = "Index";
    List<TbCapBac> CapBac = (List<TbCapBac>)ViewBag.CapBac;
}

<div class="page-header">
    <h2 class="page-title">Danh sách cán bộ</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="btn btn-gradient-success btn-md" asp-action="Create">Thêm mới</a>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên cán bộ
                            </th>
                            <th>
                                Số hiệu cán bộ
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Sinh nhật
                            </th>
                            <th>
                                Cấp bậc
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenCanBo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoHieuCanBo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sdt)
                                </td>
                                <td>
                                    @(item.SinhNhat != null ? item.SinhNhat.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @(item.CapBac != null && item.CapBac != 0 ? CapBac.Where(x => x.IdCapBac == item.CapBac)
                                        .FirstOrDefault().TenCapBac : "")
                                </td>
                                <td>

                                    <a class="btn btn-gradient-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdCanBo">
                                        Sửa
                                    </a>
                                    <a class="btn btn-gradient-info btn-sm" asp-action="Details" asp-route-id="@item.IdCanBo">
                                        Chi tiết
                                    </a>
                                    <a class="btn btn-gradient-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdCanBo">
                                        Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

