﻿body {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.p {
    font-weight: bold !important;
}

.education {
    --bg-color: #ff9361;
    --bg-color-light: #ffbeba;
    --text-color-hover: #fff;
    --box-shadow-color: rgb(255,135,97, 0.48);
}

.credentialing {
    --bg-color: #aff1b6;
    --bg-color-light: #e2fced;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
    --bg-color: #acb6f2;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    width: 82%;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

    .card:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
    }

        .card:hover .overlay {
            transform: scale(4) translateZ(0);
        }

        .card:hover .circle {
            border-color: var(--bg-color-light);
            background: var(--bg-color);
        }

            .card:hover .circle:after {
                background: var(--bg-color-light);
            }

        .card:hover p {
            color: var(--text-color-hover);
        }

    .card:active {
        transform: scale(1) translateZ(0);
        box-shadow: 0 15px 24px rgba(0,0,0,0.11), 0 15px 24px var(--box-shadow-color);
    }

    .card p {
        font-size: 17px;
        color: #4C5656;
        margin-top: 30px;
        z-index: 1000;
        transition: color 0.3s ease-out;
    }

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

    .circle:after {
        content: "";
        width: 118px;
        height: 118px;
        display: block;
        position: absolute;
        background: var(--bg-color);
        border-radius: 50%;
        top: 7px;
        left: 7px;
        transition: opacity 0.3s ease-out;
    }

    .circle svg {
        z-index: 10000;
        transform: translateZ(0);
    }

.overlay {
    width: 131px;
    position: absolute;
    height: 131px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 73px;
    left: 80px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
